@keyframes nodeInserted {  
  from {  
  clip: rect(1px, auto, auto, auto);  
  }
  to {  
  clip: rect(0px, auto, auto, auto);
}  
}

@-webkit-keyframes nodeInserted {  
  from {  
  clip: rect(1px, auto, auto, auto);  
  }
  to {  
  clip: rect(0px, auto, auto, auto);
}  
}

div.pagedlist_item {
  animation-name: nodeInserted !important;
  animation-duration: 0.001s !important;

  -webkit-animation-name: nodeInserted !important;
  -webkit-animation-duration: 0.001s !important;
}
